<component name="ArtifactManager">
  <artifact type="war" name="mybatis-web:war">
    <output-path>$PROJECT_DIR$/../mybatis-web/target</output-path>
    <root id="archive" name="mybatis-web-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="mybatis-web:war exploded" />
    </root>
  </artifact>
</component>